extends layout

block content

  if (errorMsg) 
    ul
      each key in errorMsg
        div(class="error__msg")
          li=key
  
  div(class="login__container")
    form(method='post' action='/')
      div(class="login__item")
        label(for='name') Nafn
        if (errParam.includes('name'))
          input(class="error" type='text',name='name', value= data.name)
        else
          input(type='text',name='name', value= data.name)
      div(class="login__item")
        label(for='email') Netfang
        if (errParam.includes('email'))
          input(class="error" type='email',name='email', value= data.email)
        else
          input(type='email',name='email', value= data.email)
      div(class="login__item")
        label(for='ssn') Kennitala
        if (errParam.includes('ssn'))
          input(class="error" type='ssn' name='ssn', value= data.ssn)
        else
          input(type='ssn' name='ssn', value= data.ssn)
      div(class="login__item")
        label(for="amount") Fjöldi:
        if (errParam.includes('amount'))
          input(class="error" type="number", name="amount", value= data.amount)
        else 
          input(type="number", name="amount", value= data.amount)
      div(class="login__item submit")
        input(type='submit' value="Senda")

  include ./footer.pug
  