extends layout

block content

  form(method='POST' action='/')
    div
      label(for='name') Nafn
      input(type='text',name='name')
    div
      label(for='email') Netfang
      input(type='email',name='email')
    div
      label(for='ssn') Kennitala
      input(type='ssn' name='ssn')
    div
      label(for="number") Number:
      input(type="number", name="number")
    button(type='submit') Senda

  include ./footer.pug
  