extends layout

block content

  div(class="login__container")
    form(method='POST' action='/login')
      div(class="login__item")
        label(for='username') Notendanafn
        input(type='text',name='username')
      div(class="login__item")
        label(for='password') Password
        input(type='password',name='password')
      div(class="login__item")
        input(type='submit', name='submit')

  
  

