* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', serif;
  font-size: 16px;
  background-color: #eee;
  color: #333;
}

/**
  *
  *
  * LOGIN PAGE
  *
  *
  *
  **/

.login__container {
  min-height: 600px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  min-width: 400px;
  margin: 0 auto;
}

.login__item {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  margin: 5px;
  justify-content: center;
}

.login__container>form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 2em;
}

.login__container>form label {
  margin-right: 50px;
  width: 20%;
}

.login__container>form>div>input {
  font-size: 1em;
  width: 30%;
  border: 2px solid black;
}

.submit>input {
  border-radius: 6px;
  width: 20%;
  border: 2px solid black;
  font-size: 1em;
}

/**
  *
  *
  * TABLE
  *
  *
  *
  **/

th {
  background-color: darkorchid;
  color: gold;
}

table {
  border: 3px solid darkviolet;
}

/**
  *
  *
  * FOOTER
  *
  *
  *
  **/

.line {
  width: 100%;
  height: 1px;
  background-color: darkviolet;
  margin: 40px 0;
}

.link a {
  text-decoration: none;
  color: #000;
  margin-left: 40px;
}

.link a:active {
  text-decoration: none;
}

.link a:hover {
  text-decoration: none;
}

.link a:visited {
  text-decoration: none;
}

.footer__item {
  margin-left: 30px;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
}

/**
  *
  *
  *
  * ERROR
  *
  *
  *
  **/

.error__msg {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: darkred;
}

ul {
  margin-top: 50px;
  margin-bottom: -75px;
}

.error {
  background-color: #fd4848;
}

.error__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  font-size: 5em;
  color: darkturquoise;
}

/**
  *
  *
  * THANKS
  *
  *
  *
  **/

.thanks__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

/**
  *
  *
  * ADMIN
  *
  *
  **/

.table__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table__container table {
  margin-top: 15px;
  border-collapse: collapse;
}

.table__container>form {
  margin-top: 20px;
  width: 10%;
}

.table__container>form>input {
  border: 2px solid slateblue;
  width: 100%;
  font-size: 1.5em;
  border-radius: 20px;
  outline: none;
}

.table__container>form>input:hover {
  background: blueviolet;
  cursor: help;
}
